#fancyselect{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    
    /*z-index: -1;*/
}

.fancySelect-holder{
    margin-top: 80px;
    position: relative;  
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background: #2d3192;
    box-shadow: 0px -6px 30px rgba(0,0,0,0.19);
    /*overflow: hidden;*/
}
.fancySelect-holder .fancySelect{
    width: 100%;
max-height: 400px;
padding: 20px;
/*position: relative;
top: 0;
left: 0;*/

overflow-y: scroll;
scrollbar-width: none;  /* Firefox */
}
.fancySelect-holder .fancySelect::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
.fancySelect-holder .fancySelect {
  -ms-overflow-style: none;
}
.fancySelect-holder .fancySelect .fancySelect-item{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 66px;
    border-bottom: solid 1px #19142f;
    color:#434586;

    position: relative; z-index: 2;

    transition:all 0.5s ease-in-out;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
    .fancySelect-holder .fancySelect .fancySelect-item.selected{
        color:white;
    }